{% extends 'base.html' %}
{% block title %}Loans{% endblock %}


{% block content %}

<div class="container">
  <h2>Loans</h2>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Loan Id</th>
        <th>Loan Plan</th>
        <th>Amount Payable</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Anna</td>
        <td>Pitt</td>
        <td>35</td>
        <td>New York</td>
        <td>USA</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>


{% endblock %}
